.phone-intro{
  position: absolute;
  width: 50%;
  height: 100%;
  max-height: 430px;
  bottom: -300px;
  left: 0px;
  background-image: url("../imgs/apps/phoneIntro.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.btns-wrapper{
  display: none;
}