<div class="content">
<div class="block-3" id="logo"></div>
<div class="block-7">
    <ul class="nav-menu clr-wht">
        <li class="btn-active"><a href="#">GET STARTED</a></li>
        <li><a href="#about">ABOUT</a></li>
        <li><a href="#feauters">FEAUTERS</a></li>
        <li><a href="#reviews">REVIEWS</a></li>
        <li><a href="#demo">DEMO</a></li>
        <li><a href="#support">SUPPORT</a></li>
    </ul>
</div>
</div>