body{
  position: relative;
  margin:0;
  padding: 0;
  font-family: $sans-font-family;
}
/* DEFAULT BACKGROUND COLORS*/
$pr-clr: #212121;
$scnd-clr: #3d3d3d;
$third-clr: #303030;

/*DEFAULTS FONTS COLORS*/
$font-pr-clr: #fff;
$font-scnd-clr: rgba(51,153,153,1);
$font-thrd-clr: black;


/*LANDING MARKUP*/
.content{
  position: relative;
  width:737px;
  height: 100%;
  margin: 0 auto;
  display: table;
}
.land-block{
  position: relative;
  width: 100%;
  padding-top: 120px;
}
.block-2{
  width: 20%;
  height: 100%;
  display: table-cell;
}
.block-3{
  width: 30%;
  height: 100%;
  display: table-cell;
}
.block-5-m{
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}
.block-5-t{
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: top;
}
.block-5-b{
  width: 50%;
  height: 100%;
  display: table-cell;
  vertical-align: bottom;
}
.block-7{
  width: 70%;
  height: 100%;
  display: table-cell;
}

/*DEFAULT INDEXES*/
$high-index: 10000;
$middle-index: 1000;
$low-index:100;

/*COLOR CONFIGURATIONS*/
.lnr-bg{
  background: rgba(51,153,153,1);
  background: -moz-linear-gradient(left, rgba(51,153,153,1) 0%, rgba(102,204,153,1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(51,153,153,1)), color-stop(100%, rgba(102,204,153,1)));
  background: -webkit-linear-gradient(left, rgba(51,153,153,1) 0%, rgba(102,204,153,1) 100%);
  background: -o-linear-gradient(left, rgba(51,153,153,1) 0%, rgba(102,204,153,1) 100%);
  background: -ms-linear-gradient(left, rgba(51,153,153,1) 0%, rgba(102,204,153,1) 100%);
  background: linear-gradient(to right, rgba(51,153,153,1) 0%, rgba(102,204,153,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#339999', endColorstr='#66cc99', GradientType=1 );
}
.btn-info{
  border: 1px solid $font-pr-clr;
  color: $font-pr-clr;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 5px;
  text-align: center;
}
.btn-active{
  color:$font-thrd-clr;
  border-radius: 20px;
  background: rgba(254,254,254,1);
  background: -moz-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(212,237,231,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(254,254,254,1)), color-stop(100%, rgba(212,237,231,1)));
  background: -webkit-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(212,237,231,1) 100%);
  background: -o-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(212,237,231,1) 100%);
  background: -ms-linear-gradient(top, rgba(254,254,254,1) 0%, rgba(212,237,231,1) 100%);
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(212,237,231,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d4ede7', GradientType=0 );
  padding: 10px 15px;
  text-decoration: none;
  text-align: center;
}
.clr-wht{
  color: $font-pr-clr;
}
.text-big {
  width: 100%;
  font-weight: 300;
  margin-left: 10%;
  opacity: 0;
  color: $font-pr-clr;
  font-size: 45px;
}
.a-cntr{
  text-align: center;
}
.input-txt {
  width: 100%;
  border-radius: 20px;
  height: 30px;
  background-color: inherit;
  border: 1px solid $font-pr-clr;
  padding: 5px 15px;
  outline: 0;
  color: $font-pr-clr;
  font-size: $font-14px;
  display: block;
}
::-webkit-input-placeholder {color: $font-pr-clr;}
::-moz-placeholder          {color: $font-pr-clr;}/* Firefox 19+ */
:-moz-placeholder           {color: $font-pr-clr;}/* Firefox 18- */
:-ms-input-placeholder      {color: $font-pr-clr;}